<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b639665a-7c05-40dd-8845-aeeee3425be2" Alias="Content - Block Grid" Level="1">
  <Info>
    <Name>Content - Block Grid</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blockGroups": [
    {
      "name": "Layout Blocks",
      "key": "53eba85e-0719-4f5b-b3cb-417006985fe8"
    },
    {
      "name": "Feature Blocks",
      "key": "73225446-089d-40ac-8265-560d84a7d41c"
    }
  ],
  "blocks": [
    {
      "contentElementTypeKey": "aa728569-2348-4869-b4a5-b0110693428f",
      "groupKey": "73225446-089d-40ac-8265-560d84a7d41c",
      "allowInAreas": true,
      "label": "Rich Text Editor"
    },
    {
      "contentElementTypeKey": "91989552-e3f0-4e4b-95c7-267885ab536b",
      "groupKey": "53eba85e-0719-4f5b-b3cb-417006985fe8",
      "areas": [
        {
          "key": "35185d9e-1ec3-476a-a95e-1b67dddc909b",
          "alias": "tertiary g-col-12 g-col-md-6 g-col-lg-3 p-3 rounded-3",
          "columnSpan": 3,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [],
          "createLabel": "Tertiary Area"
        },
        {
          "key": "19c38884-7326-434e-aaf9-e292fac5297e",
          "alias": "primary g-col-12 g-col-md-6 g-col-lg-6 p-3 rounded-3",
          "columnSpan": 6,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": [],
          "createLabel": "Primary Area"
        },
        {
          "key": "384752c4-d785-4346-a99a-0f1d53fb3483",
          "alias": "secondary g-col-12 g-col-md-12 g-col-lg-3 p-3 rounded-3",
          "columnSpan": 3,
          "rowSpan": 2,
          "minAllowed": 0,
          "specifiedAllowance": [],
          "createLabel": "Secondary Area"
        }
      ],
      "allowAtRoot": true
    },
    {
      "contentElementTypeKey": "674163ef-9f0a-4e86-a284-c31e1340a304",
      "groupKey": "53eba85e-0719-4f5b-b3cb-417006985fe8",
      "areas": [
        {
          "key": "1f3f422b-96b5-473b-ab7b-7430df4af610",
          "alias": "primary g-col-12 g-col-md-6 p-3 rounded-3",
          "columnSpan": 6,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        },
        {
          "key": "e8349b57-765b-41b2-8b44-4a2d8099d651",
          "alias": "secondary g-col-12 g-col-md-6 p-3 rounded-3",
          "columnSpan": 6,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "allowAtRoot": true
    },
    {
      "contentElementTypeKey": "1318b160-6494-434c-a3bd-f722ab455264",
      "groupKey": "53eba85e-0719-4f5b-b3cb-417006985fe8",
      "allowAtRoot": true,
      "areas": [
        {
          "key": "5bd045ec-85a0-43fd-a989-1c9795bfbe3e",
          "alias": "primary g-col-12 p-3 rounded-3",
          "columnSpan": 6,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "887ca191-a5f4-4a9c-9374-eebf16c652cd",
      "groupKey": "73225446-089d-40ac-8265-560d84a7d41c",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "9659a584-7af8-44c3-8a26-c67875dd7da5",
      "groupKey": "73225446-089d-40ac-8265-560d84a7d41c",
      "allowInAreas": true
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>