@using Umbraco.Extensions
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>

@{
    Layout = "_Layout_Features.cshtml";
}

<h3>Feature - Rich Text Editor</h3>
@Model.Content.Value("featureRichTextEditor")
@Model.Content.Value("featurePropertyFeatureRte")
