@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@using Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = null;
}

<h2>Layout 3-6-3</h2>
@await Html.GetBlockGridItemAreasHtmlAsync(Model)

