<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="86dacd00-e3bf-4a4a-9bf2-7746ff8af206" Alias="featureComponentImage" Level="3">
  <Info>
    <Name>Feature Component - Image</Name>
    <Icon>icon-plugin</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Features/Feature+Components</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>31d8e13c-064d-416d-93b8-f722840a6cdc</Key>
      <Name>Image</Name>
      <Alias>featurePropertyFeatureImage</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="featureContent">Feature Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>cb05433d-db0c-4cb4-9d5a-714e4874a1e8</Key>
      <Caption>Feature Content</Caption>
      <Alias>featureContent</Alias>
      <Type>Group</Type>
      <SortOrder>30</SortOrder>
    </Tab>
  </Tabs>
</ContentType>