<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="887ca191-a5f4-4a9c-9374-eebf16c652cd" Alias="featurePageTitleDescription" Level="2">
  <Info>
    <Name>Feature - Page - Title and Description</Name>
    <Icon>icon-plugin</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Features</Folder>
    <Compositions>
      <Composition Key="6bf9bf4e-7dda-47ea-b702-cf8546f1dc85">featureComponentNoConfiguration</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>