<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="aa728569-2348-4869-b4a5-b0110693428f" Alias="featureRichTextEditor" Level="2">
  <Info>
    <Name>Feature - Rich Text Editor</Name>
    <Icon>icon-plugin</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Features</Folder>
    <Compositions>
      <Composition Key="debcb637-49dc-4a22-acc6-47cf591081d3">featureComponentFeatureDescription</Composition>
      <Composition Key="334eafe1-794f-42c4-a1e3-63c9dd092244">featureComponentFeatureTitle</Composition>
      <Composition Key="6e422798-10fa-4bb6-a57a-9b22e0e5124b">featureComponentRichTextEditor</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>