<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9659a584-7af8-44c3-8a26-c67875dd7da5" Alias="featureImage" Level="2">
  <Info>
    <Name>Feature - Image</Name>
    <Icon>icon-plugin</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Features</Folder>
    <Compositions>
      <Composition Key="debcb637-49dc-4a22-acc6-47cf591081d3">featureComponentFeatureDescription</Composition>
      <Composition Key="334eafe1-794f-42c4-a1e3-63c9dd092244">featureComponentFeatureTitle</Composition>
      <Composition Key="86dacd00-e3bf-4a4a-9bf2-7746ff8af206">featureComponentImage</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>