<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2280fa8a-a028-44f3-8860-a2b8d26d4a62" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="8eb911bb-1244-49b0-b2bd-df48d919a383">pageContent</Composition>
      <Composition Key="9b390875-0c53-4fa5-8abc-3612578ee981">pageProperties</Composition>
    </Compositions>
    <DefaultTemplate>homePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="c89c9298-0ee3-4930-84a2-1ef7807a7a4f">homePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="b37abbb5-96eb-4ebe-a4b3-23a378148f6a" SortOrder="0">webPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>