<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="91989552-e3f0-4e4b-95c7-267885ab536b" Alias="layout363" Level="2">
  <Info>
    <Name>Layout - 3 | 6 | 3</Name>
    <Icon>icon-thumbnails</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Layouts</Folder>
    <Compositions />
    <DefaultTemplate>layout363</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="04ffa0b9-3042-462c-9341-2329687df564">layout363</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>