<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b37abbb5-96eb-4ebe-a4b3-23a378148f6a" Alias="webPage" Level="2">
  <Info>
    <Name>Web Page</Name>
    <Icon>icon-notepad</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="8eb911bb-1244-49b0-b2bd-df48d919a383">pageContent</Composition>
      <Composition Key="9b390875-0c53-4fa5-8abc-3612578ee981">pageProperties</Composition>
    </Compositions>
    <DefaultTemplate>webPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="3aea2104-e1f5-44e5-9af2-f05ff912458c">webPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>