<?xml version="1.0" encoding="utf-8"?>
<Media Key="0a6ecbde-86f4-4491-911a-783109bf217c" Alias="Firefly business people audience watching a talk at a tech conference_Style = flat colours, flat des (2).jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FireflyBusinessPeopleAudienceWatchingATalkAtATechConference_StyleFlatColoursFlatDes2Jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-06-10T09:39:51</CreateDate>
    <NodeName Default="Firefly business people audience watching a talk at a tech conference_Style = flat colours, flat des (2).jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/keadrpe3/firefly-business-people-audience-watching-a-talk-at-a-tech-conference_style-flat-colours-flat-des-2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>