<?xml version="1.0" encoding="utf-8"?>
<Content Key="5a6ee22f-0edd-490c-8102-40cc9441317f" Alias="About" Level="2">
  <Info>
    <Parent Key="038d6be9-daac-4080-9b80-4d7735248fec">Home Page</Parent>
    <Path>/HomePage/About</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2024-06-20T19:26:29</CreateDate>
    <NodeName Default="About" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3aea2104-e1f5-44e5-9af2-f05ff912458c">webPage</Template>
  </Info>
  <Properties>
    <contentBlockGrid>
      <Value><![CDATA[]]></Value>
    </contentBlockGrid>
    <pageDescription>
      <Value><![CDATA[If you are looking for a way to use Bootstrap web page layouts and components in your Umbraco site, you might want to check out this example website.]]></Value>
    </pageDescription>
    <pageThumbnail>
      <Value><![CDATA[]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[About UmBootstrap]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[About]]></Value>
    </pageTitleShort>
  </Properties>
</Content>